[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
python-environ = "==0.4.54"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
